<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Wellcode Global">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- <meta name="robots" content="index, follow"> -->
    <meta name="copyright" content="">
    <meta name="DC.title" content="">
    <!-- <meta name="google-site-verification" content="CpVhxvqnJR6-GIBm9ApJMlbPi19U43042P33pRrErSs"> -->

    <title>Template 2</title>

    <link href="https://fonts.googleapis.com/css?family=Tajawal:300,400|Dosis:400,600|Jua" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/CSS/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/CSS/styleTampilan4.css}"/>
    <link rel="shortcut icon" href="favicon.ico"/>

    <script src="/Scripts/jquery-3.3.1.min.js"></script>
    <script src="/Scripts/fontawesome-all.js"></script>
    <script src="/Scripts/tether.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
</head>

<body>
    <header class="header-wrapper bg-secondary z-index-20">
        <div class="header-desktop" id="header-desktop">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-11">
                        <div class="d-flex justify-content-start">
                            <div class="header-nav">
                                <nav>
                                    <ul class="d-flex">
                                        <a href="#home">
                                            <li>home</li>
                                        </a>
                                        <a href="#features">
                                            <li>about</li>
                                        </a>
                                        <a href="#about">
                                            <li>travel</li>
                                        </a>
                                        <a href="#bags">
                                            <li>food</li>
                                        </a>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="header-user">
                            <div class="d-flex justify-content-end">
                                <a href="">
                                    <img src="/Images/user.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="d-flex">
            <div class="col-md-10 width-col-10 p-0">
                <section class="home" id="home">
                    <div class="h-wrapper text-white">
                        <img class="fullwidth-img fullheight-65" src="/Images/img-home.jpg" alt="">
                        <h2 class="uppercase h2-first title-text-1 h-h2-absolute">people forget years</h2>
                        <h2 class="uppercase h2-second title-text-1 h-h2-absolute">and</h2>
                        <h2 class="uppercase h2-third title-text-1 h-h2-absolute">remember moments</h2>
                    </div>
                </section>
                <section class="guide" id="guide">
                    <div class="g-wrapper">
                        <div class="d-flex">
                            <div class="col-md-3 p-0"></div>
                            <div class="col-md-3 p-0 mr-3">
                                <a href="">
                                    <div class="g-content g-content-1">
                                        <p class="uppercase text-center color-primary text-white title-text-1">travel</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 p-0 ml-3">
                                <a href="">
                                    <div class="g-content g-content-2">
                                        <p class="uppercase text-center color-primary text-white title-text-1">food</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-3 p-0"></div>
                        </div>
                    </div>
                </section>
                <section class="quotes" id="quotes">
                    <div class="q-wrapper text-center">
                        <i class="fas fa-wifi fa-3x m-3"></i>
                        <h1 class="title-text-2">Lets wander where the wifi is weak</h1>
                    </div>
                </section>
                <section class="blog" id="blog">
                    <div class="b-wrapper">
                        <div class="col-md-12 p-0 width-col-12">
                            <a href="">
                                <div class="b-card">
                                    <div class="b-img-head">
                                        <img class="fullwidth-img-96" src="/Images/travel-california.jpg" alt="">
                                    </div>
                                    <div class="b-content">
                                        <div class="b-img-user">
                                            <div class="row align-items-center">
                                                <span>
                                                    <img src="/Images/user.png" alt="">
                                                </span>
                                                <span>
                                                    <h4>Reza</h4>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="b-text">
                                            <h2>My First Ever Trip to California!</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                                sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            <hr>
                                            <div class="d-flex">
                                                <div class="col-md-6 p-0">
                                                    <div class="d-flex justify-content-start"><p>0 views</p></div>
                                                </div>
                                                <div class="col-md-6 p-0">
                                                    <div class="d-flex justify-content-end"><i class="far fa-heart"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="b-card">
                                    <div class="b-img-head">
                                        <img class="fullwidth-img-96" src="/Images/travel-jamaica.jpg" alt="">
                                    </div>
                                    <div class="b-content">
                                        <div class="b-img-user">
                                            <div class="row align-items-center">
                                                <span>
                                                    <img src="/Images/user.png" alt="">
                                                </span>
                                                <span>
                                                    <h4>Reza</h4>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="b-text">
                                            <h2>My First Ever Trip to Jamaica!</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                                sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            <hr>
                                            <div class="d-flex">
                                                <div class="col-md-6 p-0">
                                                    <div class="d-flex justify-content-start"><p>0 views</p></div>
                                                </div>
                                                <div class="col-md-6 p-0">
                                                    <div class="d-flex justify-content-end"><i class="far fa-heart"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="b-card">
                                    <div class="b-img-head">
                                        <img class="fullwidth-img-96" src="/Images/travel-maldives.jpg" alt="">
                                    </div>
                                    <div class="b-content">
                                        <div class="b-img-user">
                                            <div class="row align-items-center">
                                                <span>
                                                    <img src="/Images/user.png" alt="">
                                                </span>
                                                <span>
                                                    <h4>Reza</h4>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="b-text">
                                            <h2>My First Ever Trip to Maldives!</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                                sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            <hr>
                                            <div class="d-flex">
                                                <div class="col-md-6 p-0">
                                                    <div class="d-flex justify-content-start"><p>0 views</p></div>
                                                </div>
                                                <div class="col-md-6 p-0">
                                                    <div class="d-flex justify-content-end"><i class="far fa-heart"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="">
                                <div class="b-card">
                                    <div class="b-img-head">
                                        <img class="fullwidth-img-96" src="/Images/travel-new zealand.jpg" alt="">
                                    </div>
                                    <div class="b-content">
                                        <div class="b-img-user">
                                            <div class="row align-items-center">
                                                <span>
                                                    <img src="/Images/user.png" alt="">
                                                </span>
                                                <span>
                                                    <h4>Reza</h4>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="b-text">
                                            <h2>My First Ever Trip to New Zealand!</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                                                sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            <hr>
                                            <div class="d-flex">
                                                <div class="col-md-6 p-0">
                                                    <div class="d-flex justify-content-start"><p>0 views</p></div>
                                                </div>
                                                <div class="col-md-6 p-0">
                                                    <div class="d-flex justify-content-end"><i class="far fa-heart"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-2 width-col-2 p-0">
                <footer class="footer-sidebar fullheight-p shadow-inset-left z-index-10">
                    <div class="footer-wrapper">
                        <ul>
                            <a href="">
                                <li>
                                    <i class="fab fa-instagram"></i>
                                </li>
                            </a>
                            <a href="">
                                <li>
                                    <i class="fab fa-pinterest-p"></i>
                                </li>
                            </a>
                            <a href="">
                                <li>
                                    <i class="fab fa-twitter"></i>
                                </li>
                            </a>
                        </ul>
                        <div class="footer-wg text-center">
                            <a href="wellcode.io">
                                <small class="small-font">
                                    <b>powered by Wellcode Global</b>
                                    <i class="far fa-copyright fa-fw"></i>
                                </small>
                            </a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </main>

</body>

<script src="/Scripts/scriptTampilan4.js"></script>

</html>