<!DOCTYPE html>
<html>

<head>
    <title>Main Page</title>

    <link rel="stylesheet" href="CSS/bootstrap.min.css">
    <link rel="stylesheet" href="CSS/style.css">

    <script src="Script/jquery-3.3.1.min.js"></script>
    <script src="Script/tether.min.js"></script>
    <script src="Script/bootstrap.min.js"></script>
    <script src="Script/fontawesome-all.js"></script>
</head>

<body>
    <header>
        <div class="background-container-header">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div class="logo-container">

                        <div class="d-flex">
                            <div class="dropdown">
                                <button type="button dropdown-toggle" class="btn" data-toggle="dropdown">
                                    <i class="fas fa-bars"></i>
                                </button>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">product</a>
                                    </li>
                                    <li>
                                        <a href="#">Store Location</a>
                                    </li>
                                    <li>
                                        <a href="#">About Us</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact Us</a>
                                    </li>
                                    <li>
                                        <a href="#">Carrer</a>
                                    </li>
                                </ul>
                            </div>

                            <img src="Images/logo.png" alt="Logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="content-1-background">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div class="content-1">
                        <h1>Fresh From Open</h1>
                        <h2>Combine With Fresh and Best Ingredients</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="background-title-content">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div class="title-content-2">
                        <h1>Our Menu</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid p-0">
            <div class="col-md-12 p-0">
                <div class="images-container-content">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">

                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="configure">
                                    <img src="Images/food1.jpg" alt="food1" class="image-full-height">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h1>Food 1</h1>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="configure">
                                    <img src="Images/food2.jpg" alt="food2" class="image-full-height">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h1>Food 2</h1>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="configure">
                                    <img src="Images/food3.jpg" alt="food3" class="image-full-height">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h1>Food 3</h1>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="background-title-content">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div class="title-content-3">
                        <h1>News and Promo</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="d-flex justify-content-start">
                <div class="col-md-4">
                    <div class="content-3">
                        <img src="Images/logo.png" alt="news">
                        <div class="text">
                            <h5>News 1</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo commodo rhoncus. Ut
                                pulvinar porttitor lacus eu finibus. Vestibulum urna sem, lacinia in tempor at, volutpat
                                et enim. Morbi dictum, nulla vel pretium lacinia, leo odio laoreet nunc, vitae commodo dui
                                mauris et arcu.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="content-3">
                        <img src="Images/logo.png" alt="news">
                        <div class="text">
                            <h5>News 2</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo commodo rhoncus. Ut
                                pulvinar porttitor lacus eu finibus. Vestibulum urna sem, lacinia in tempor at, volutpat
                                et enim. Morbi dictum, nulla vel pretium lacinia, leo odio laoreet nunc, vitae commodo dui
                                mauris et arcu.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="content-3">
                        <img src="Images/logo.png" alt="news">
                        <div class="text">
                            <h5>News 3</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo commodo rhoncus. Ut
                                pulvinar porttitor lacus eu finibus. Vestibulum urna sem, lacinia in tempor at, volutpat
                                et enim. Morbi dictum, nulla vel pretium lacinia, leo odio laoreet nunc, vitae commodo dui
                                mauris et arcu.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="background-title-content">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div class="title-content-4">
                        <h1>Our Motto</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-4">
            <div class="container">
                <div class="text-motto">
                    <div class="col-md-12">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget venenatis nisl. Cras a euismod velit, quis fermentum
                            urna. Proin non felis vel felis maximus varius id quis diam. Mauris faucibus et metus et efficitur.
                            Etiam vitae ultrices magna. Nullam ornare ac dui id ornare. Donec elementum viverra varius.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

<script src="Script/script.js"></script>
</html>