<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Templates</title>
    <link rel="stylesheet" th:href="@{/CSS/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/CSS/style.css}"/>

    <script src="/Scripts/jquery-3.3.1.min.js"></script>
    <script src="/Scripts/tether.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
</head>

<body>
<main>
    <section>
        <div class="container">
            <div class="col-md-12">
                <div class="main-header">
                    <h1>Choose One Templates You Like the Most</h1>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <section class="m-3">
                <div class="d-flex">
                    <div class="col-md-6">
                        <div class="image">
                            <img src="/Images/image1.PNG" alt="image1">
                            <div class="button">
                                <div class="button-view">
                                    <a class="btn btn-primary" href="#" th:href="@{'/Tampilan 2/HelloWorld'}" role="button">View</a>
                                </div>

                                <div class="button-subcribe">
                                    <a class="btn btn-primary" href="#" th:href="@{'/Payment Page Credit/payment'}" role="button">Subcribe with Credit</a>
                                </div>

                                <div class="button-subcribe">
                                    <a class="btn btn-primary" href="#" th:href="@{'/Payment Page Debit/payment'}" role="button">Subcribe with Debit</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="image">
                            <img src="/Images/image2.PNG" alt="image2">
                            <div class="button">
                                <div class="button-view">
                                    <a class="btn btn-primary" href="#" th:href="@{'/Tampilan 3/Main'}" role="button">View</a>
                                </div>

                                <div class="button-subcribe">
                                    <a class="btn btn-primary" href="#" th:href="@{'/Payment Page Credit/payment'}" role="button">Subcribe with Credit</a>
                                </div>

                                <div class="button-subcribe">
                                    <a class="btn btn-primary" href="#" th:href="@{'/Payment Page Debit/payment'}" role="button">Subcribe with Debit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="m-3">
                <div class="d-flex">
                    <div class="col-md-6">
                        <div class="image">
                            <img src="/Images/image4.PNG" alt="image4">
                            <div class="button">
                                <div class="button-view">
                                    <a class="btn btn-primary" href="#" th:href="${'/Tampilan 4/index'}" role="button">View</a>
                                </div>

                                <div class="button-subcribe">
                                    <a class="btn btn-primary" href="#" th:href="@{'/Payment Page Credit/payment'}" role="button">Subcribe with Credit</a>
                                </div>

                                <div class="button-subcribe">
                                    <a class="btn btn-primary" href="#" th:href="@{'/Payment Page Debit/payment'}" role="button">Subcribe with Debit</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="image">
                            <img src="/Images/Image3.PNG" alt="image3">
                            <div class="button">
                                <div class="button-view">
                                    <a class="btn btn-primary" href="#" th:href="@{'/Tampilan 1/index'}" role="button">View</a>
                                </div>

                                <div class="button-subcribe">
                                    <a class="btn btn-primary" href="#" th:href="@{'/Payment Page Credit/payment'}" role="button">Subcribe with Credit</a>
                                </div>

                                <div class="button-subcribe">
                                    <a class="btn btn-primary" href="#" th:href="@{'/Payment Page Debit/payment'}" role="button">Subcribe with Debit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</main>
</body>

</html>