<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/CSS/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/CSS/styleTampilan2.css}"/>

    <script src="/Scripts/jquery-3.3.1.min.js"></script>
    <script src="/Scripts/tether.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/fontawesome-all.js"></script>
</head>

<body>

    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <img src="/Images/LogoLyonsden.jpg" alt="Gambar Logo" id="image-logo">
                </div>

                <div class="col-md-6">
                    <div class="d-flex justify-content-start">
                        <!--dari bootstrap-->
                        <div class="menu-bar">
                            <!--buatan sendiri-->
                            <nav>
                                <ul class="d-flex">
                                    <!--dari bootstrap-->
                                    <li>
                                        <a href="">Tentang Kami</a>
                                    </li>
                                    <li>
                                        <a href="">Ide</a>
                                    </li>
                                    <li>
                                        <a href="">Kreator</a>
                                    </li>
                                    <li>
                                        <a href="">Kolaborator</a>
                                    </li>
                                    <li>
                                        <a href="">Hubungi Kami</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <input type="text" placeholder="Search.." class="search-bar">
                </div>
            </div>
        </div>
    </header>

    <main>
        <section>
            <div class=" p-0">
                <div class="main-1">
                    <div class="jumbotron jumbotron-configuration">
                        <h1>ENTERPRISE DIGITAL</h1>
                        <h1>TRANSFORMATION</h1>
                        <h2>SYSTEM INTEGRATION</h2>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="col-md-6">
                        <div class="footer-main-1">
                            <div class="footer-main-1-menu1">
                                <p class="d-flex">
                                    <a class="mr-3 pr-3" href="#">CONTACT US</a>
                                    <a href="#">CAREER</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row align-items-center">
                            <div class="footer-main-2">
                                <div class="footer-main-2-menu1">
                                    <div class="d-flex">
                                        <p>find us on
                                            <i class="fab fa-twitter-square fa-fw"></i>
                                            <i class="fab fa-facebook fa-fw"></i>
                                            <i class="fab fa-linkedin fa-fw"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container main-2-configuration">
            <div class="main2-data">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <h1 class="h1-border">931</h1>
                            </td>

                            <td>
                                <h1 class="h1-border">568,719</h1>
                            </td>

                            <td>
                                <h1 class="h1-border">150,150</h1>
                            </td>
                        </tr>

                        <tr>
                            <td>Spaces leased / transactions</td>
                            <td>Total sqm leased</td>
                            <td>avaible sqm for lease</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="main-2">
                <div class="row">
                    <div class="col-md-7">
                        <h2 class="h2-bold">Office leasing is</bold>
                        </h2>
                        <h2>is our DNA</h2>
                        <br>

                        <p>Welcome to Cadigal, Sydney specialist office leasing agency.</p>

                        <p>Our people are drawn together by a passion for property. We connect businesses to their perfect office
                            space, ensuring our customers benefit from our deep industry relationships and unrivalled market
                            intelligence.
                        </p>

                        <p>From landmark office towers to boutique warehouse conversions, we've got Sydney covered.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="d-flex">
                <div class="col-md-8 content-image1 mx-2">
                    <h1>content 1</h1>
                </div>

                <div class="col-md-4 content-image2 mx-2">
                    <h1>content 2</h1>
                </div>
            </div>

            <div class="d-flex">
                <div class="col-md-4 content-image3 my-2 ml-2">
                    <h1>content 3</h1>
                </div>

                <div class="col-md-4 content-image4 my-2 ml-2">
                    <h1>content 4</h1>
                </div>

                <div class="col-md-4 content-image5 my-2 ml-2">
                    <h1>content 5</h1>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <section class="footer-setting">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="footer-main1">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Connect With Us</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="d-flex">
                                        <td>
                                            <i class="fab fa-instagram"></i>
                                        </td>
                                        <td>
                                            <i class="fab fa-youtube"></i>
                                        </td>
                                        <td>
                                            <i class="fab fa-linkedin-in"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-4">
                        
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Sydney Office</th>
                                    <th>North Syney Office</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>Level 24</td>
                                    <td>Level 12, Suite 12.04</td>
                                </tr>

                                <tr>
                                    <td>9 Castlereagh Street</td>
                                    <td>65 Berry Street</td>
                                </tr>

                                <tr>
                                    <td>Sydney NSW 2000</td>
                                    <td>North Sydney NSW 2060</td>
                                </tr>

                                <tr>
                                    <td>02 8188 5555</td>
                                    <td>02 8667 5555</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-4">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Office for Lease</td>
                                    <td>Insights</td>
                                </tr>

                                <tr>
                                    <td>About Us</td>
                                    <td>Searching</td>
                                </tr>

                                <tr>
                                    <td>Services</td>
                                    <td>Contact</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </footer>

</body>

</html>